<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llp.dao.FileMapper">
	<select id="getColumnNameByTableName" resultType="java.lang.String">
		SELECT COLUMN_NAME
		FROM information_schema.`COLUMNS`
		WHERE table_schema = (SELECT DATABASE())
		  AND TABLE_NAME = #{tableName}
	</select>
</mapper>