# Created by .ignore support plugin (hsz.mobi)
### java template
### Example user template template
### Example user template

# IntelliJ project files
.idea
/.idea
*.iml
out
gen
/target/
/.gitignore
/patrol-admin/target/
/.idea/
/test-classes/
### java template
### Example user template template
### Example user template

# IntelliJ project files
.idea
/.idea
*.iml
out
gen
/target/
/.gitignore
/patrol-admin/target/
/.idea/
